<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title> Error Page </title>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <div id="error-page">
         <div class="content">            
            <h4>  Error Page | Please verify if you are providing correct path.
            </h4>          
            <div class="btns">
               <a href="/api/process/welcome">To go back click here</a>
            </div>
         </div>
      </div>
   </body>
</html>